@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
  margin: 0 auto;
  font-family: 'Audiowide', cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-nav .navbar {
  padding: 20px 30px;
  background-color: #2e3a3c;
}
.header-nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 25px;
}
.header-nav h2 {
  color: #000000;
  padding-left: 50px;
  margin: 20px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
